header{
    color: white; background-color: blue;
}
.container{
    color: black; background-color: lightgray;
}
.container p{
    color: red;
}
.highlight{
    color: green;
}
.main-content{
    background-color: yellow;
}
.center-text{
    text-align: center;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
   text-decoration: underline dashed;
}
.bold-text{
    font-weight: bold;
}
.intro{
    font-weight: 300;
}
.headings{
    text-decoration-line: underline;
    text-decoration-style: dashed;
}